<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyASRaBl5Sbpo3yvcPr50eO4H209UOZvnbo</string>
	<key>GCM_SENDER_ID</key>
	<string>472263114711</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.demo.componentsApp1</string>
	<key>PROJECT_ID</key>
	<string>componentsapp1</string>
	<key>STORAGE_BUCKET</key>
	<string>componentsapp1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:472263114711:ios:4ee290ba0f99191f945592</string>
</dict>
</plist>